/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --primary-white: #f9f9f9;
    --primary-black: #000;

    --text-light: #ffffff;

    --border-radius: 5px;
    --grid-padding: 2rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Roboto Flex", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    color: var(--primary-white);
    background: url("img/backgrounda.png"), #151515;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--primary-white);
}

/* nav */
nav {
    display: none;
}
/* nav */

main {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

p.time {
    text-align: center;
}

.card {
    border: 2px solid var(--text-light);
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 100%;

    h3.card-title {
    }
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

.profile-picture {
    /* grid-column: 3 span; */
    /* grid-row: 1 span; */

    img {
        width: 100%;
    }
}

.header {
    /* grid-column: 6 span; */
    /* width: 100%; */
}

.skills {
    /* grid-column: 3 span; */
    grid-row: 2 span;
}

.about {
    /* grid-column: 6 span; */
}

h3 {
}

/* attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    /* fixme - change to light color */
    color: #ffffff;
}
/* attribution */

/* back to top */
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: var(--primary-white);
    color: var(--primary-black);
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* back to top */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
    main {
        width: 80%;
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }

    .card {
        width: 100%;

        .card-title {
            font-size: 24px;
        }
    }

    .header {
        p.title {
            margin-top: -10px;
        }

        span a {
            font-size: 28px;
            margin-right: 5px;
        }
    }

    .about {
        p {
            /* text-align: justify; */
            line-height: 25px;
        }
    }

    .skills {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-inline-start: -40px;
        }
        ul li {
            list-style-type: none;
        }
    }

    .experience {
        span {
            /* border: 2px solid var(--primary-white); */
            width: 100%;

            h5.title {
                font-style: italic;
                font-size: 16px;
            }

            p.company {
                margin-top: -15px;
                font-size: 20px;
            }
        }
    }

    .education {
        a.current-education {
            display: block;
            width: 100%;
            background: #222426;
            padding: 5px 10px;
            text-align: center;
            border-radius: var(--border-radius);
            margin-bottom: 10px;
        }

        span.other-educ {
            display: flex;
            justify-content: space-between;
            /* background: #222426; */
            text-align: center;
            border-radius: var(--border-radius);
        }
    }

    .projects {
        a {
            font-size: 28px;
            margin-right: 5px;
        }
    }

    .goals {
        ol {
            margin-inline-start: -20px;
            line-height: 30px;
        }
    }

    .connect {
        p {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .contact {
        a {
            display: block;
            width: 100%;
            background: #222426;
            padding: 10px 20px;
            text-align: center;
            border-radius: var(--border-radius);
            margin-bottom: 10px;
        }
    }

    .back-to-top {
        bottom: 100px;
    }
}
